@import (less) "npm://normalize.css/normalize.css";

* {
  box-sizing: border-box;
}

.app-container {
  max-width: 1000px;
  margin: auto;
}

pre {
	padding: 10px;
	background-color: #fbfaf8;
	border: 1px solid #E8E8E8;
	font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace!important;
	font-size: 0.75rem;
}

pre.inline {
	padding: 0;
	display: inline;
	color: #c25;
}
